body{
	background:url("http://i.imgur.com/swZAXpF.png");
    background-size: cover; 
    font-family: 'Raleway', Helvetica, sans-serif;
    color:white;
    text-align: center;
}
img{
	height: 200px;
	margin: 60px 0 20px 0;
}
h1{
	font-size: 48px;
	line-height: 1em;
	font-weight: 300;
}
h2{
	font-size: 32px;
}
h3{
	font-weight: 700;
	text-transform: uppercase;
	color: white;
	font-size: 16px;
	margin: 24px 0 12px 0;
	text-align: left;
}
a{
	color: #69acfc;
	font-weight:700;
	font-size: 14px;
	line-height: 2em;
	text-align: left;
	display: block;
}
a:hover{
	cursor: pointer;
}
p{
	line-height: 1.375em;
	font-size: 14px;
	text-align: left;
}
.container{
	max-width: 800px;
	margin: 0 auto;
}
.info{
	width: 100%;
	background-color: rgba(0,0,0,0.5);
	padding: 40px 0;
	margin-top:40px;
	height:300px;
}
.about-me, .experience, .contact-info{
	width: 31%;
	display: inline-block;
	vertical-align: top;
	margin: 0 1%;
}
.email, .linkedin{
	display: block;
	float: none;
}
.carousel-bg{
	background-color:rgba(0,0,0,0.75);
	height: 260px;
	padding: 24px 0;
}
#carousel{
	width: width:600px;
	margin:0 auto;
	overflow: hidden;
}

#carousel-inner{
	float: left;
	width: 800px;
	overflow: hidden;
	background-color: pink;
}

#carousel_ul{
	position: relative;
	left:-100px;
	list-style-type:none;
	margin: 0;
	padding-top: 0;
	width: 9999px; 
}

#carousel_ul li{
	float: left;
	width: 200px;
	padding:0;
	height: 120px;
	background: #000000;
}

#carousel_ul li img{
	cursor: pointer;
}
.previous{
	float: left;
}
.next{
	float:right;
}
.latest-post{
	position: absolute;
	right: 20px;
	top: 10px;
}
.latest-post img{
	height: 50px;
	margin:0;
}
.small{
	font-size: 10px;
}
.footer{
	height: 120px;
}
.footer img{
	height: 100px;
	padding: 10px;
	float: left;
	margin: 0;
}
.footer p{
	padding-top: 60px;
}
@media(max-width: 800px){
.about-me, .experience, .contact-info{
	width:100%;
}
.info{
	height:500px;
}
.container{
	width: 90%;
	padding:0 20px;
}
}
@media (max-width:480px){

}