body{
	background:url("http://i.imgur.com/swZAXpF.png");
    background-size: cover; 
    font-family: 'Raleway', Helvetica, sans-serif;
    color:white;
    text-align: center;
}
img{
	height: 200px;
	margin: 20px 0 0 0;
}
h1{
	font-size: 48px;
	line-height: 1em;
	font-weight: 300;
}
h2{
	font-size: 32px;
}
h3{
	font-weight: 700;
	text-transform: uppercase;
	color: white;
	font-size: 16px;
	margin: 24px 0 12px 0;
}
a{
	color: #69acfc;
	font-weight:700;
	font-size: 14px;
	line-height: 2em;
	padding: 4px;
	margin: 10px 0; 
}
p{
	line-height: 1.375em;
	font-size: 14px;
}
.container{
	max-width: 800px;
	margin: 0 auto;
}
.info{
	width: 100%;
	background-color: rgba(0,0,0,0.5);
	padding: 40px 0;
	margin-top:40px;
	height:400px;
}
.about-me, .experience, .contact-info{
	width: 31%;
	display: inline-block;
	vertical-align: top;
	margin: 0 1%;
}
.email, .linkedin{
	display: block;
	float: none;
}
.carousel{
	background-color:rgba(255,255,255,0.25);
	height: 260px;
	padding: 24px 0;
}
.carousel li{
	list-style: none;
	list-style-type: none;
	padding: 0;
	display: block;
	overflow: hidden;
	width: 24%;
	float: left;
	height: 200px;
	margin: 0 4px;
	color:red;
}
.carousel ul{
	position: relative;
	width: 100%;
	margin: 0;
}
@media(max-width: 800px){
.about-me, .experience, .contact-info{
	width:100%;
}
}
@media (max-width:480px){
	.container{
	width: 90%;
	margin:0 20px;
}
}